<mat-toolbar class="menu">
  <span class="app-name">PrezUp Dashboard</span>
  <div class="menu-items">
    <button  routerLink="/" class="menu-item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    @if (isAuth) {
      <ng-container >
        <button  mat-raised-button routerLink="/users" class="menu-item">
          <mat-icon>group</mat-icon>
          <span>Users</span>
        </button>
        <button  mat-raised-button routerLink="/dashboard" class="menu-item">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </button>
        <button  mat-raised-button (click)="logout()" class="menu-item">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </ng-container>
    }

    @if(!isAuth) {
      <ng-container >
        <button  mat-raised-button routerLink="/login" class="menu-item">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </ng-container>
    }
    
  </div>
</mat-toolbar>
