.dashboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dashboard-header {
    text-align: center;
    /* background-color: #aab0d0;
    color: white; */
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
  }
  
  .card-header mat-icon {
    margin-right: 10px;
  }
  
  .grid-container {
    /* display: grid;

    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .grid-container mat-card {
    border-radius: 10px;
  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #3f51b5;
  }
  
  .error {
    color: red;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .error mat-icon {
    font-size: 24px;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f1f1f1;
  }
  
  mat-spinner {
    margin-right: 10px;
  }
  