<div class="dashboard-container">
  <mat-card class="dashboard-header">
    <h2>Admin Dashboard</h2>
  </mat-card>
  @if(isLoading){
  <div class="loading">
    <mat-spinner diameter="50"></mat-spinner> Loading data...
  </div>
  } @if(errorMessage){
  <div class="error"><mat-icon>error_outline</mat-icon> {{ errorMessage }}</div>
  } @if(dashboardData){
  <div>
    <div class="grid-container">
      <!-- Users Overview Card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-icon mat-card-icon>group</mat-icon>
          <mat-card-title>Users Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Total Users: {{ dashboardData.userStatistics.totalUsers }}</p>
          <p>Active Users: {{ dashboardData.userStatistics.activeUsers }}</p>
          <p>
            Inactive Users: {{ dashboardData.userStatistics.inactiveUsers }}
          </p>
        </mat-card-content>
        <ngx-charts-pie-chart
          [results]="usersPieData"
          [view]="[800, 400]"
          [legend]="true"
          [labels]="true"
          [doughnut]="true"
          [scheme]="colorScheme"
        >
        </ngx-charts-pie-chart>
      </mat-card>

      <!-- Roles Distribution Card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-icon mat-card-icon>account_balance</mat-icon>
          <mat-card-title>Role Distribution</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            @for( role of dashboardData.rolesDistribution ;track role.roleName)
            {
            <li>
              <mat-icon>person</mat-icon> {{ role.roleName }}:
              {{ role.userCount }} users
            </li>
            }
          </ul>
        </mat-card-content>
        <ngx-charts-bar-vertical
          [results]="rolesBarData"
          [view]="[800, 400]"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showDataLabel]="true"
          [scheme]="colorScheme"
        >
        </ngx-charts-bar-vertical>
      </mat-card>

      <!-- Top Users Card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-icon mat-card-icon>star</mat-icon>
          <mat-card-title>Top Users</mat-card-title>
        </mat-card-header>

        
        

        <ngx-charts-bar-vertical
          [results]="topUsersLineData"
          [view]="[1000, 600]"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showDataLabel]="true"
          [scheme]="colorScheme"
          xAxisLabel="'User ID'"
          yAxisLabel="'Number of Presentations'"
        >
        </ngx-charts-bar-vertical>
      </mat-card>
    </div>
  </div>
  }
</div>
